<section class="mb-4">

  <p class="font-weight-bold mb-3"> Address </p>
  <%= form_tag boards_path, method: :get, class: "md-form md-outline mt-0" do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control mb-0",
      placeholder: "Enter an address"
    %>
    <br>

    <p class="font-weight-bold mb-3"> Category </p>
      <div class="all-button">
      <%= check_box_tag "categories[all]", "all", checked: "checked"  -%>
        <%= label_tag("all", "all", class: "form-check-label small text-uppercase card-link-secondary") %>
        <br>
      </div>
      <div class="cat-buttons">
      <% @categories.reject{|cat| cat=="all"}.each do |category| %>
        <%= check_box_tag "categories[#{category}]", category   -%>

        <%= label_tag(category, "#{category}", class: "form-check-label small text-uppercase card-link-secondary") %>
        <br>
      <% end %>
      </div>
    <br>

    <p class="font-weight-bold mb-3"> Price range  </p>

    <%= text_field_tag :price,
      params[:price],
      class: "js-range-slider"
    %>

    <br>

    <%= submit_tag "Search", class: "btn btn-gradient" %>

  <% end %>

</section>

<script>
  var $range = $(".js-range-slider");

  $range.ionRangeSlider({
        skin: "round",
        type: "double",
        grid: false,
        min: 0,
        max: 50,
        from: 15,
        to: 25,
        prefix: "€"
    });

</script>

<style>
  body {
    font-family: Arial, sans-serif;
    font-size: 12px;
}
.range-slider {
    position: relative;
    height: 80px;
}
</style>


