<div class="container">
  <h1>Hello <%= @user.first_name %> !</h1>
  <br>
  
  <!-- Here is the list of the ongoing reservations -->
  <h2>You have <%= @user.reservations.count %> reservation(s) :</h2>

  <% if @user.reservations.blank? %>
    <div class="card-dashboard-blank">
    <h2> You do not have any reservations yet.</h3>
    <p> <%= link_to "All boards", boards_path %></p>
    </div>
  <% else %>
  <ul>
    <% @user.reservations.each do |reservation| %>
      <div class="card-dashboard">
        <% if reservation.board.photo.attached? %>
        <li><%= cl_image_tag reservation.board.photo.key, height: 300, width: 400, crop: :fill %></li>
        <% end %>
        <div class="card-dashboard-infos">
          <h2> You have booked <%= reservation.board.name %></h2>
          <p> from <strong><%= reservation.start_date.to_formatted_s(:long_ordinal) %></strong> to <strong><%= reservation.end_date.to_formatted_s(:long_ordinal) %></strong>.</p>
          <p><%= link_to "Cancel my reservation", reservation_path(reservation), method: :delete, remote: true, data: { confirm: "Are you sure?" } %></p>
        </div>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">Leave a review</button>

<!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Leave a review</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <%= render 'reviews/new', reservation: reservation %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </ul>
<% end %>

<!-- Here is the list of the ongoing listings -->

  <h2>You have <%= @user.boards.count %> ongoing listing(s) :</h2>

  <% if @user.boards.blank? %>
    <div class="card-dashboard-blank">
    <h2> You do not have any listings yet.</h2>
    <p> <%= link_to "List a board", new_board_path %></p>
    </div>
  <% else %>
    <ul>
      <% @user.boards.each do |board| %>
        <div class="card-dashboard">
          <% if board.photo.attached? %>
          <li><%= cl_image_tag board.photo.key, height: 300, width: 400, crop: :fill %></li>
          <% else %>
           <li><%= image_tag 'no-image-icon.png', height: 300, width: 400, crop: :fill %></li>
          <% end %>
          <div class="card-dashboard-infos">
            <h2> You listed <%= board.name %></h2>
            <p><%= link_to "Cancel my listing", board_path(board), method: :delete, remote: true, data: { confirm: "Are you sure?" } %></p>
          </div>
        </div>
         </ul>
      <% end %>
  <% end %>

    <h2>Reviews : </h2>

      <% @reviews.each do |review| %>
        <div class="review_card">
          <div class="card-dashboard-infos">
            <ul>
              <li><div><%= @user.first_name %></div></li>
              <li><div><%= review.reservation.board.name %></div></li>
              <li><div> <strong>Rating : <%= review.rating %></strong></div></li>
              <li><div> <%= review.content %></div></li>
              <li><div><p>Created : <%= review.created_at.to_formatted_s(:long_ordinal) %></p></div></li>
            </ul>
          </div>
          <p> <%= link_to "Delete Review", review_path(review), method: :delete, remote: true, data: { confirm: "Are you sure?" } %></p>
        </div>
      <% end %>

      </div>
  
</div>

    <div class="card-dashboard-cheat">
 
    </div>


    


