
<div class="container main_container">
<h1>All our boards</h1>

<%# <div class="filters">
<%= form_tag boards_path, method: :get do %>
  <%# <%= select_tag "board_category", options_for_select(Board::CATEGORY) %>
  <%# <%= text_field_tag :place, %>
    <%# params[:place], %>
    <%# class: "form-control", %>
    <%# placeholder: "Where do you want to surf" %>
  <%# %>
  <%# <%= submit_tag "Let see", class: "btn btn-primary" %> 
<%# <% end %> 
<%# </div> %> 

<br>

  <div class="content" style="margin-left: 250px">
    <div class="boards">
      <% @boards.each do |board| %>
        <div class="board">

      <div class="card-board">
        <div class="card-board-infos">
          <div class="card-board-infos-top">
            <a href="/boards/${board.id}"><h2>${board.name}</h2></a>
            <p>dims : ${board.length} X ${board.width} X ${board.thickness}-${board.volume}</p>
          </div>
          <div class="card-board-infos-top">
            <p>${board.category}</p>
            <p>${board.price}</p>
          </div>
        </div>
        <img src="http://res.cloudinary.com/dn9jutvov/image/upload/${board.image}" />
      </div>

        </div>
      <% end %>
    </div>
    <div id="map"
      style="width: 100%; height: 600px;"
      data-markers=""
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>


  <div class="sidebar">
    <%= render "shared/filter_sidebar" %>
  </div>

</div>

  <br>


