
<div class="container main_container">
<h1>All our boards</h1>

<%# <div class="filters">
<%= form_tag boards_path, method: :get do %>
  <%# <%= select_tag "board_category", options_for_select(Board::CATEGORY) %>
  <%# <%= text_field_tag :place, %>
    <%# params[:place], %>
    <%# class: "form-control", %>
    <%# placeholder: "Where do you want to surf" %>
  <%# %>
  <%# <%= submit_tag "Let see", class: "btn btn-primary" %> 
<%# <% end %> 
<%# </div> %> 

<br>

  <div class="content" style="margin-left: 250px">
    <div class="boards">
      <% @boards.each do |board| %>
        <div class="board">
        #injection JS

        </div>
      <% end %>
    </div>
    <div id="map"
      style="width: 100%; height: 600px;"
      data-markers=""
      data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>
  </div>


  <div class="sidebar">
    <%= render "shared/filter_sidebar" %>
  </div>

</div>

  <br>


