<div class="container">
  <h1><%= @board.name %> </h1>

  <div class="row card-product">
    <% if @board.photo.attached? %>
    <li><%= cl_image_tag @board.photo.key, height: 300, width: 400, crop: :fill %></li>
    <% end %>
    <div class="card-product-infos">
      <ul>
        <li>Length : <%= @board.length %></li>
        <li>Thickness : <%= @board.thickness %></li>
        <li>Width : <%= @board.width %></li>
        <li>Volume : <%= @board.volume %></li>
      </ul>
    </div>
  </div>

  <!-- Button trigger modal -->
  <center><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"> Book a board </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Book a board</h5>
          <button type="btn btn-gradient" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render "reservations/new" %>
        </div>
        <div class="modal-footer">
          <button type="button" style='display:none' class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<div class="container-review">
  <h1>Board's Review : </h1>

    <% @board.reviews.each do |review| %>
      <div class="review_card">
        <div class="card-review-infos">
          <ul>
            <li><div><%= review.user.first_name %></div></li>
            <li><div> <strong>Rating : <%= review.rating %></strong></div></li>
            <li><div> <%= review.content %></div></li>
            <li><div><p>Created : <%= review.created_at.to_formatted_s(:long_ordinal) %></p></div></li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="footer">
<div class="list-inline">
  <ul>
    <li>
      <a href=""><i class="fab fa-twitter"></i></a>
    </li>
    <li>
      <a href="" ><i class="fab fa-instagram"></i></a>
    </li>
    <li>
      <a href=""><i class="fab fa-facebook"></i></a>
    </li>
    <li>
      <a href=""><i class="fab fa-github"></i></a>
    </li>
  </ul>
    <div class="footer_img">
      <p>This website was coded by smart developper at Le Wagon. <i class="fas fa-laptop-code"></i></p>
      <img alt="Le Wagon Logo" src="//d26jy9fbi4q9wx.cloudfront.net/assets/logo_square-2a2b37a2be341690cc27951815247ac550d17e57b97542a61b92848057aab506.svg">
    </div>
</div>




