
<div class="container">
  <h1><%= @board.name %> </h1>

  <div class="row card-product">
    <li><%= cl_image_tag @board.photo.key, height: 300, width: 400, crop: :fill %></li>
    <div class="card-product-infos">
      <ul>
        <li>Length : <%= @board.length %></li>
        <li>Thickness : <%= @board.thickness %></li>
        <li>Width : <%= @board.width %></li>
        <li>Volume : <%= @board.volume %></li>
      </ul>
    </div>
  </div>

  <!-- Button trigger modal -->
  <center><button type="button" class="btn btn-gradient" data-toggle="modal" data-target="#exampleModal"> Book a board </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Book a board</h5>
          <button type="btn btn-gradient" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render "reservations/new" %>
        </div>
        <div class="modal-footer">
          <button type="button" style='display:none' class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

    <h3>Review</h3>
   <ul class="list-group">
      <% @board.reviews.each do |review| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <span class="badge badge-primary badge-pill">
            <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>          
          </span>
          <%= review.content %>
        </li>
      <% end %>
    </ul>


  <div class="footer">
    <div class="list-inline">
      <ul>
        <li>
          <a href=""><i class="fab fa-twitter"></i></a>
        </li>
        <li>
          <a href="" ><i class="fab fa-instagram"></i></a>
        </li>
        <li>
          <a href=""><i class="fab fa-facebook"></i></a>
        </li>
        <li>
          <a href=""><i class="fab fa-github"></i></a>
        </li>
      </ul>
      <p>This website was coded by smart developper at Le Wagon. <i class="fas fa-mobile-alt"></i></p>
    </div>
  </div>

</div>


<!-- <% counter = 0 %>
            <% 5.times do %>
              <i class="fa <%= review.rating > counter ? 'fa-star' : 'fa-star-o' %>"></i>
              <% counter += 1 %>
            <% end %>-->


