
<div class="container">
  <h1><%= @board.name %> </h1>

  <div class="row card-product">
    <li><%= cl_image_tag @board.photo.key, height: 300, width: 400, crop: :fill %></li>
    <div class="card-product-infos">
      <ul>
        <li>Length : <%= @board.length %></li>
        <li>Thickness : <%= @board.thickness %></li>
        <li>Width : <%= @board.width %></li>
        <li>Volume : <%= @board.volume %></li>
      </ul>
    </div>
  </div>

  <!-- Button trigger modal -->
  <center><button type="button" class="btn btn-gradient" data-toggle="modal" data-target="#exampleModal"> Book a board </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Book a board</h5>
          <button type="btn btn-gradient" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render "reservations/new" %>
        </div>
        <div class="modal-footer">
          <button type="button" style='display:none' class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


</div>





