
<div class="container">
  <h1><%= @board.name %> </h1>

  <div class="row card-product">
    <li><%= cl_image_tag @board.photo.key, height: 300, width: 400, crop: :fill %></li>
    <div class="card-product-infos">
      <ul>
        <li>Length : <%= @board.length %></li>
        <li>Thickness : <%= @board.thickness %></li>
        <li>Width : <%= @board.width %></li>
        <li>Volume : <%= @board.volume %></li>
      </ul>
    </div>
  </div>
  <center><a class="btn btn-ghost" <%= link_to "Back to all boards", boards_path %></a></center>
</div>





